@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: #222;
  background-color: #f7f7f7;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #d62839;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 50px;
}

.header__button {
  background-color: #e63946;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.header__button:hover {
  background-color: #d62839;
}

.banner {
  background-image: url("/images/2022-23_NHL_Player_Cards.png");
  background-size: cover;
  background-position: center;
  height: 300px; /* nebo jiná výška */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
}

.header__banner {
  background-image: url("/images/jesse_owens.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.header__banner__overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__title {
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 0 0 10px #222;
}

.menu__list {
  margin: 0;
  padding: 1rem;
  list-style: none;
  display: flex;
  background-color: #1d3557;
  font-weight: 300;
  flex-wrap: wrap;
}

.menu__item {
  flex: 1 1 16.6666666667%;
  text-align: center;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu__link:hover {
  color: #a8dadc;
}

body {
  background-color: rgb(160, 221, 232);
}

main {
  padding: 2rem;
  max-width: 960px;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.intro {
  max-width: 700px;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #1d3557;
}

.tipy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto 4rem;
  padding: 1rem;
}

.tip {
  background-color: rgb(160, 221, 232);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-left: 6px solid rgb(5, 5, 167);
}

.tip:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.tip h3 {
  margin-top: 0;
  color: rgb(5, 5, 167);
  font-size: 1.25rem;
}

.tip p {
  margin-bottom: 0;
  font-size: 1rem;
  color: #222;
}

@media (max-width: 768px) {
  .tipy {
    grid-template-columns: 1fr;
  }
  .banner__tittle {
    font-size: 2rem;
    text-align: center;
  }
}
.glossary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

/*.glossary__item {
  background-color: $color10; // světle modrá
  //border: 2px solid lighten($color9, 20%);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  border-color: darken($color4, 10%);*/
.glossary__item {
  position: relative;
  padding-left: 3.5rem;
}
.glossary__item .glossary__icon {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  color: #1d3557;
}
.glossary__item .glossary__icon svg {
  width: 100%;
  height: 100%;
  stroke-width: 1.8;
}

h3 {
  color: #1d3557;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

p {
  color: #222;
  margin: 0;
  font-size: 1rem;
}

/*&:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}*/
.intro {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 2rem auto;
}
.intro h2 {
  font-size: 2.2rem;
  color: rgb(5, 5, 167);
}
.intro p {
  font-size: 1.1rem;
  color: #222;
}

.card-types__list {
  display: grid;
  gap: 5rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}
@media (min-width: 700px) {
  .card-types__list {
    grid-template-columns: 1fr 1fr;
  }
}

.footer {
  background-color: #1d3557;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}/*# sourceMappingURL=style.css.map */