
// 🎨 Barevná paleta
$color1:  #222;               // primární text
$color2:  rgb(5, 5, 167);     // zvýraznění (modrá)
$color3:  rgb(239, 230, 181); // jemný béžový podklad
$color4:  rgb(160, 221, 232); // světle modrá (pozadí bloků)
$color5:  #f7f7f7;            // světlé pozadí
$color6:  #d62839;            // červená
$color7:  #fff;               // bílá
$color8:  #e63946;            // tmavší červená
$color9:  #1d3557;            // tmavá modrá
$color10: #a8dadc;            // tyrkys