
// 游꿛 Barevn치 paleta
$color1:  #222;               // prim치rn칤 text
$color2:  rgb(5, 5, 167);     // zv칳razn캩n칤 (modr치)
$color3:  rgb(239, 230, 181); // jemn칳 b칠쬺v칳 podklad
$color4:  rgb(160, 221, 232); // sv캩tle modr치 (pozad칤 blok콢)
$color5:  #f7f7f7;            // sv캩tl칠 pozad칤
$color6:  #d62839;            // 캜erven치
$color7:  #fff;               // b칤l치
$color8:  #e63946;            // tmav코칤 캜erven치
$color9:  #1d3557;            // tmav치 modr치
$color10: #a8dadc;            // tyrkys