@use "colors";

.header__top {
  display: flex;
 justify-content: space-between;
  padding: 1rem;
  background-color: colors.$color6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  gap: 1rem;
}

.logo {
  max-height: 50px;
}

.header__button {
  background-color: colors.$color8;
  color: colors.$color7;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.header__button:hover {
  background-color: colors.$color6;
}

.header__banner {
  background-size: cover;
  background-position: center;
  height: 200px;
  position: relative;
}

.header__banner__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

.banner__tittle {
  color: colors.$color7; // bílá
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4); // jemný tmavý překryv
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
}


// Desktop verze (min-width: 1100px)
@media (min-width: 1100px) {
  .header__top {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .header__banner {
    height: 300px;
  }

  .banner__tittle {
    font-size: 3rem;
    text-align: left;
    margin: 0 0 0 4rem;
    align-self: flex-start;
    max-width: 60%;
  }
}
