<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="header__top">
            <img class="logo" src="/images/skills4hockey.png"><a href="https://www.skills4hockey.ch/cs"> </a>

            <button class="header__button">Kontaktujte nás</button>
        </div>

        <div class="header__banner">

            <h1 class="banner__tittle">{{ title }}</h1>
        </div>

        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item"><a href="/" class="menu__link">Jak do toho</a></li>
                <li class="menu__item"><a href="/slovnicek" class="menu__link">Slovníček</a></li>
                <li class="menu__item"><a href="/typy_karticek" class="menu__link">Typy kartiček</a></li>
                <li class="menu__item"><a href="/skladovani" class="menu__link">Skladování</a></li>
                <li class="menu__item"><a href="/grading" class="menu__link">Grading</a></li>
                <li class="menu__item"><a href="/kontakty" class="menu__link">Kontakty</a></li>
            </ul>
        </nav>
    </header>	

  <main class="main">

    {{ content | safe }}

  </main>


  <footer class="footer">
    <p class="footer"> &copy; 2025, skills4hockey</p>
  </footer>
</body>"

</html>